<h1><%= @book.title %></h1>

<p>
Label: <%= @book.label_id %>
</p>
<p>
ISBN: <%= @book.isbn %>
</p>
<p>
Publisher: <%= @book.publisher.nil? ? "" : @book.publisher.name %>
<%#= @book.publisher.name if @book.publisher %>
</p>

<p>
<% if @book.tags.present? %>
  <ul>
  <% @book.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
  </ul>

<% end %>

</p>